.caption { font-style: italic; font-size: .8em;  }

.admonition {
  background-color: #FFFD75;
  padding:2em;
  display:block;
  min-height: 100px;
	margin: 0 2em 2em 1em;
	background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
	box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
	transform: rotate(1deg);
	transform: skew(-.05deg,.05deg);
}
.apa-example {
  background-color: #ADCBE7;
  padding:2em;
  display:block;
  min-height: 100px;
	margin: 0 2em 2em 1em;
	background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
	box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
	transform: rotate(1deg);
	transform: skew(-.05deg,.05deg);
}

.apa-example:before {
  content: "APA style example: ";
  font-weight: bold;
}


.exercise {
  background-color: #C4EFE4;
  padding:2em;
  display:block;
  min-height: 100px;
  margin: 0 2em 2em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
}

.exercise:before {
  content: "Exercise: ";
  font-weight: bold;
}




.explainer {
  background-color: #E6E6E6;
  width:67%;
  padding:2em;
  display:block;
  min-height: 100px;
  margin: 0 2em 2em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
}




.tip {
  background-color: #C3FDB2;
  width:67%;
  padding:2em;
  display:block;
  min-height: 100px;
  margin: 0 2em 2em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
}




table { margin-bottom: 2em !important; }






